<GridLayout >

  <GridLayout class="page-content" rows="*,auto" columns="*">

    <WrapLayout>
      <GridLayout backgroundColor="white" class="alignItem" verticalAlignment="middle" [height]="boxHeight" [width]="boxWidth">
        <StackLayout verticalAlignemnt="middle" class="p-t-20" horizontalAlignment="center">
          <Image src="res://positiveemotion" [width]="imageWidth" [height]="imageHeight" stretch="aspectFit"></Image>
          <Label text="Positive Emotions" class="p-t-20 f-12 f-bold text-center" textWrap="true"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout backgroundColor="white" class="alignItem" verticalAlignment="middle" [height]="boxHeight" [width]="boxWidth">
        <StackLayout verticalAlignemnt="middle" class="p-t-20" horizontalAlignment="center">
          <Image src="res://engagement" [width]="imageWidth" [height]="imageHeight" stretch="aspectFit"></Image>
          <Label text="Engagement (flow)" class="p-t-20 f-12 f-bold text-center" textWrap="true"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout backgroundColor="white" class="alignItem" verticalAlignment="middle" [height]="boxHeight" [width]="boxWidth">
        <StackLayout verticalAlignemnt="middle" class="p-t-20" horizontalAlignment="center">
          <Image src="res://positiverelationship" [width]="imageWidth" [height]="imageHeight" stretch="aspectFit"></Image>
          <Label text="Positive Relationships" class="p-t-20 f-12 f-bold text-center" textWrap="true"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout backgroundColor="white" class="alignItem" verticalAlignment="middle" [height]="boxHeight" [width]="boxWidth">
        <StackLayout verticalAlignemnt="middle" class="p-t-20" horizontalAlignment="center">
          <Image src="res://meningfulness" [width]="imageWidth" [height]="imageHeight" stretch="aspectFit"></Image>
          <Label text="Meaningfulness" class="p-t-20 f-12 f-bold text-center" textWrap="true"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout backgroundColor="white" class="alignItem" verticalAlignment="middle" [height]="boxHeight" [width]="boxWidth">
        <StackLayout verticalAlignemnt="middle" class="p-t-20" horizontalAlignment="center">
          <Image src="res://accomplishment" [width]="imageWidth" [height]="imageHeight" stretch="aspectFit"></Image>
          <Label text="Accomplishment" class="p-t-20 f-12 f-bold text-center" textWrap="true"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout backgroundColor="white" class="alignItem" verticalAlignment="middle" [height]="boxHeight" [width]="boxWidth">
        <StackLayout verticalAlignemnt="middle" class="p-t-20" horizontalAlignment="center">
          <Image src="res://slepp" [width]="imageWidth" [height]="imageHeight" stretch="aspectFit"></Image>
          <Label text="Sleep" class="p-t-20 f-12 f-bold text-center" textWrap="true"></Label>
        </StackLayout>
      </GridLayout>
    </WrapLayout>
    
  </GridLayout>

</GridLayout>