

<!-- <ActionBar title="Title" background="linear-gradient(to right, orangered, green, lightblue)">
</ActionBar> -->


<GridLayout rows="auto,*" >
    <GridLayout rows="*" columns="*" [height]="actionbar" class="action-bar actionbarpadding">
            <Label text="&#xe164;" color="white" (tap)="openDrawer()"  class="md-icon f-22"  horizontalAlignment="left" verticalAlignment="middle" textWrap="true"></Label>
            <Label [text]="title" color="white" horizontalAlignment="center" verticalAlignment="middle" textWrap="true"></Label>
    </GridLayout>
    <GridLayout row="1">
        <router-outlet></router-outlet>
    </GridLayout>
</GridLayout>

